{% extends 'base.html' %}

{% block head %}
<title>Home || Genius Paper</title>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    {% for image in document.image_document %}
        {% if image.prediction %}
            {% set conf = (image.prediction.confidence * 100) | round(2) %}
            {% if image.prediction.result == 'asli' %}
                var series{{ image.id }} = [{{ conf }}, {{ 100 - conf }}];
            {% else %}
                var series{{ image.id }} = [{{ 100 - conf }}, {{ conf }}];
            {% endif %}
            var options{{ image.id }} = {
                chart: {
                    type: 'pie',
                    height: 300
                },
                labels: ['Asli', 'Palsu'],
                series: series{{ image.id }},
                colors: ['#4F73D9', '#FA896B'],
                title: {
                    text: 'Hasil prediksi'
                }
            };
            var chart{{ image.id }} = new ApexCharts(document.querySelector("#chart-pie-simple-{{ image.id }}"), options{{ image.id }});
            chart{{ image.id }}.render();
        {% endif %}
    {% endfor %}
});
</script>
{% endblock %}
{% block content %}
<div class="body-wrapper">
    <div class="container-fluid">
        <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Document Check</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" href="/">Home</a>
                                </li>
                                <!-- <li class="breadcrumb-item" aria-current="page">Invoice</li> -->
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <img src="{{url_for('static',filename='/assets/images/breadcrumb/document.png')}}"
                                width="150" alt="modernize-img" class="img-fluid mb-n4" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="card overflow-hidden invoice-application">
            <div class="d-flex align-items-center justify-content-between gap-6 m-3 d-lg-none">
                <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#chat-sidebar" aria-controls="chat-sidebar">
                    <i class="ti ti-menu-2 fs-5"></i>
                </button>
                <form class="position-relative w-100">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#vertical-center-scroll-modal"
                        class="btn w-100 rounded-pill waves-effect waves-light btn-primary">
                        Periksa Document &nbsp;<i class="ti ti-search"></i>
                    </button>
                </form>
            </div>
            <div class="d-flex">
                <div class="w-25 d-none d-lg-block border-end user-chat-box">
                    <div class="p-3 border-bottom">

                        <div class="position-relative">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#vertical-center-scroll-modal"
                                class="btn w-100 rounded-pill waves-effect waves-light btn-primary">
                                Periksa Document &nbsp;<i class="ti ti-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="app-invoice">
                        <ul class="overflow-auto invoice-users" data-simplebar>
                            {% for document in documents %}
                            <li>
                                <a href="/?doc_id={{ document.id }}"
                                    class="p-3 bg-hover-light-black border-bottom border-primary d-flex align-items-start invoice-user listing-user bg-light-subtle"
                                    id="invoice-123" data-invoice-id="123">

                                    <div class="m d-inline-block w-75">
                                        <h6 class="mb-2 invoice-customer">{{ document.filename }}</h6>
                                        <span class="fs-3 invoice-date text-nowrap text-body-color d-block">
                                            {{ document.created_at.strftime('%Y-%m-%d %H:%M') if document.created_at }}
                                        </span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}

                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="w-75 w-xs-100 chat-container ">
                    {% if document %}
                    <div class="invoice-inner-part h-100">
                        <div class="">
                            <div class="invoice-header d-flex align-items-center border-bottom p-3">
                                <h4 class=" text-uppercase mb-0">{{ "Detail Dokumen" if document else "" }}</h4>
                                <div class="ms-auto">
                                    <h4 class="invoice-number">
                                        {{ document.filename if document else "" }}</h4>
                                </div>
                            </div>

                        </div>
                        <div class="p-3 ">
                            <div class=" h-100">
                                {% if document %}
                                {% if document.file_path.endswith('.pdf') %}
                                <object data="{{ url_for('static', filename=document.file_path) }}"
                                    type="application/pdf" height="600px" width="100%">
                                </object>
                                {% elif document.file_path.endswith('.jpg') or document.file_path.endswith('.jpeg') or
                                document.file_path.endswith('.png') or document.file_path.endswith('.gif') %}
                                <img src="{{ url_for('static', filename=document.file_path) }}"
                                    alt="{{ document.filename }}" class="img-fluid" />
                                {% else %}
                                <a href="{{ url_for('static', filename=document.file_path) }}" target="_blank">Download
                                    File</a>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div>
                                <div class="row mt-5">
                                    <div>
                                        <h1 class="text-center">Hasil Prediksi</h1>
                                    </div>
                                    {% for image in document.image_document %}
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <img width="100%" src="{{ url_for('static',filename=image.file_path) }}"
                                                alt="">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            {% if image.prediction %}
                                            <div id="chart-pie-simple-{{ image.id }}" style="height:300px;"></div>

                                            {% else %}
                                            Belum ada prediksi
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="offcanvas offcanvas-start user-chat-box" tabindex="-1" id="chat-sidebar"
                            aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                                    Document List
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="p-3 border-bottom ">
                                <!-- <form class="position-relative"> -->
                                <button type="button"
                                    class="btn w-100 rounded-pill waves-effect waves-light btn-primary">
                                    Periksa Document &nbsp;<i class="ti ti-search"></i>
                                </button>
                                <!-- </form> -->
                            </div>
                            <div class="app-invoice overflow-auto">
                                <ul class="invoice-users">
                                    {% for document in documents %}
                                    <li>
                                        <a href="javascript:void(0)"
                                            class="p-3 bg-hover-light-black border-bottom border-primary d-flex align-items-start invoice-user listing-user bg-light-subtle"
                                            id="invoice-123" data-invoice-id="123">

                                            <div class="m d-inline-block w-75">
                                                <h6 class="mb-2 invoice-customer">{{ document.filename }}</h6>

                                                <span class="fs-3 invoice-date text-nowrap text-body-color d-block">
                                                    {{ document.created_at.strftime('%Y-%m-%d %H:%M') if
                                                    document.created_at }}
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <!-- Vertically centered modal -->
                      
                    </div>
                    {% endif %}
                      <div class="modal fade" id="vertical-center-scroll-modal" tabindex="-1"
                            aria-labelledby="vertical-center-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <form action="/" method="post" enctype="multipart/form-data">

                                    <div class="modal-content">
                                        <div class="modal-header d-flex align-items-center">
                                            <h4 class="modal-title" id="myLargeModalLabel">
                                                Unggah Dokumen
                                            </h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="mb-3">
                                                    <label for="filename" class="form-label">Nama File</label>
                                                    <input required name="filename" type="text" class="form-control"
                                                        id="filename">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class=" mb-3">
                                                    <label for="filename" class="form-label">File</label>
                                                    <input required class="form-control" name="file" type="file" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                class="btn bg-danger-subtle text-danger  waves-effect text-start"
                                                data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit"
                                                class="btn bg-primary-subtle text-primary  waves-effect text-start">
                                                Unggah
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                </div>
            </div>
        </div>

        {% endblock %}